<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- The next tag is THE MOST IMPORTANT for responsiveness -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">

  <!-- We will link our CSS file here later -->
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

  <!-- A future favicon link can go here -->
  <link rel="icon" href="{{ '/assets/images/favicon.ico' | relative_url }}">
</head>
